#main {
  padding: 2rem;
  min-width: 45vw;
  min-height: 80vh;
  border-radius: 0.5%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5%;
}

.head {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: auto;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.bottomBtns button {
  padding: 0 1rem;
  border-radius: 5%;
  font-family: "Bangers";
  font-size: 1.2rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
  height: 3rem;
}

.bottomBtns button:hover {
  background-color: white;
  color: black;
}
.newToDoField {
  font-family: "Bangers";
  font-size: 1.8rem;
  padding: 1%;
  resize: vertical;
  min-width: 50%;
}
.x {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  background-color: #fff;
}

.bottomBtns {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
